//Colors
$white: 				rgb(255, 255, 255);
$black:					rgb(0, 0, 0);
$bg-color: 				rgb(255, 255, 255);
$bg-blue:				rgb(13, 50, 132);
$bg-grey:				rgb(238, 238, 238);
$bg-grey-darker:		rgb(63, 63, 63);
$green-color:			rgb(128, 183, 4);
$green-dark-color:		rgb(97, 140 , 0);
$error-field:			rgb(231, 76, 60);
$succes-field:			rgb(46, 204, 113);
$pro-blue:				rgb(16, 79, 225);
$pro-blue-dark:			rgb(33, 58, 111);
$pro-grey:				rgb(51, 51, 51);
$svg-blue:				rgb(83, 132, 255);

//Fonts family
$openSans: 				"Open Sans", sans-serif;

//Fonts weight
$font-black:			900;
$font-bold: 			700;
$font-normal: 			400;
$font-light: 			300;

//Fonts color
$font-blue: 			rgb(0, 38, 125);
$font-grey: 			rgb(182, 182, 182);
$font-grey-dark:		rgb(162, 162, 162);

//Fonts size
$font-title:			3em;
$font-big:				2.5em;
$font-medium: 			2em;
$font-middle: 			1.5em;
$font-normal:			1em;

//Fonts type
$font-upper: 			uppercase;
$font-normal: 			normal;


//Media size
$mobile-small:			 320px;
$mobile-large:			 480px; 
$tablet-small:			 640px;
$tablet-large:			 768px;
$tablet-big:			 992px;
$screen-small:			1024px;
$screen-large:			1200px;
$desktop-small:		 	1440px;
$desktop-large: 		1920px;
